.root {
    -fx-background: #141E30;  /* fallback for old browsers */
    -fx-background-color: linear-gradient(to right,#141E30, #243B55);
}

.mountain1 {
    -fx-fill: linear-gradient(to right, #91212d, #61120d);
}

.mountain2 {
    -fx-fill: linear-gradient(to right,#dc2424, #4a569d);
}

.node {
    -fx-fill: #d6504d;
}

.stats-bar {
    -fx-background-color: rgb(33, 44, 50);
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.tile-box {

}

.tile-background {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);

}